<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détail Projet 2</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/utilities.css" />
    <link rel="stylesheet" href="../css/components.css" />
    <link rel="stylesheet" href="../css/sidebar.css" />
  </head>
  <body>
    <div id="sidebar"></div>

    <div class="main-content flex-grow-1">
      <header class="bg-primary text-white p-4 mb-4">
        <div class="container text-center">
          <h1 class="mb-3">Projet 2 :</h1>
        </div>
      </header>
      <div class="container">
        <p class="text-start d-inline-block">test</p>
        <ul class="text-start d-inline-block">
          <li>liste</li>
          <li>/</li>
          <li>/</li>
        </ul>
        <br />
        <a href="../index.html" class="btn btn-primary mt-3"
          >Retour au portfolio</a
        >
      </div>
    </div>
    <div id="footer"></div>
    <script src="../components-loader.js"></script>
  </body>
</html>
