<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="css/css.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="d-flex">
      <div class="sidebar text-center">
        <h3 class="text-light mb-3">Menu</h3>
        <ul class="nav flex-column gap-2">
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="views/main.html"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="views/about.html"
              >À propos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="btn btn-outline-light w-100"
              href="views/projets/Projets.html"
              >Projets</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="views/contact.html"
              >Contact</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="views/Stage.html"
              >Stage</a
            >
          </li>
          <li class="nav-item">
            <a
              class="btn btn-outline-light w-100"
              href="views/veille_technologique.html"
              >Veille Technologique</a
            >
          </li>
        </ul>
      </div>
      <div class="main-content flex-grow-1">
        <header class="bg-primary text-white p-4 mb-4">
          <div class="container text-center">
            <h1 class="mb-3">Stages</h1>
          </div>
        </header>
        <div class="container">
          <div class="row g-4 justify-content-center">
            <div class="col-12 col-md-11">
              <div class="card h-100 shadow w-100">
                <div class="card-body">
                  <h3 class="card-title">Stage 1 :</h3>
                  <h5 class="text-muted">Entreprise : AG2R LA MONDIALE</h5>
                  <p class="card-text">
                    Stage de 5 semaines du 19 mai 2025 au 25 juin 2025 au sein
                    de l'équipe DSI RC (Direction des Système Informatique de la
                    Retraite Complémentaire).
                  </p>
                  <p></p>
                  <ul>
                    <li>Développement en JAVA</li>
                    <li>Utilisation de l'intellignece Artificielle</li>
                    <li>Travail en équipe</li>
                  </ul>
                  <a
                    href="https://www.ag2rlamondiale.fr/"
                    target="_blank"
                    class="btn btn-outline-primary mt-2"
                    >Voir le site</a
                  >
                  <a href="ag2r.html" class="btn btn-outline-secondary mt-2"
                    >Voir plus</a
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-md-11">
              <div class="card h-100 shadow w-100">
                <div class="card-body">
                  <h3 class="card-title">Stage 2 :</h3>
                  <h5 class="text-muted">Entreprise : AG2R LA MONDIALE</h5>
                  <p class="card-text">
                    Stage de 7 semaines du 05 janvier 2026 au 20 février 2026 au
                    sein de l'équipe DSI RC (Direction des Système Informatique
                    de la Retraite Complémentaire).
                  </p>
                  <ul>
                    <li>Création d'assistant IA</li>
                    <li>Migration d'ancien projet écrit en JAVA 7 à JAVA 8</li>
                    <li>
                      Réalisation d'automatisation de tests internet des
                      assistants IA avec la bibliothèque Selenium en JAVA
                    </li>
                  </ul>
                  <a
                    href="https://www.ag2rlamondiale.fr/"
                    target="_blank"
                    class="btn btn-outline-primary mt-2"
                    >Voir le site</a
                  >
                  <a href="ag2r.html" class="btn btn-outline-secondary mt-2"
                    >Voir plus</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
