<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veille Technologique</title>
    <link rel="stylesheet" href="../Assets/css/css.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <div class="d-flex">
      <!-- Sidebar -->
      <div class="sidebar text-center">
        <h3 class="text-light mb-3">Menu</h3>
        <ul class="nav flex-column gap-2">
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="../main.html"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="about.html"
              >À propos</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="Projets.html"
              >Projets</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="contact.html"
              >Contact</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light w-100" href="Stage.html">Stage</a>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-outline-light w-100"
              href="veille_technologique.html"
              >Veille Technologique</a
            >
          </li>
        </ul>
      </div>

      <!-- Contenu principal -->
      <div class="main-content">
        <!-- Titre -->
        <div class="text-center my-4">
          <h1>Pourquoi faire de la veille technologique ?</h1>
          <br />
          <h2>l'Intelligence Artificielle</h2>
          <br />
          <p class="lead">
            J’ai choisi de travailler sur l’intelligence artificielle parce que
            c’est un domaine qui change beaucoup de choses dans notre quotidien,
            que ce soit dans la santé, le travail ou même la création
            artistique. L’IA évolue très vite et il est intéressant de suivre
            ces innovations pour comprendre ce que l’avenir nous réserve. Ce
            sujet permet aussi de réfléchir aux questions importantes qu’elle
            soulève, comme la vie privée ou les biais des algorithmes, tout en
            découvrant les tendances technologiques actuelles.
          </p>
          <div class="logos-section my-5 text-center">
            <div class="d-flex flex-wrap justify-content-center gap-3">
              <a href="https://feedly.com/" target="_blank">
                <img
                  src="../Assets/Images/logo_feedly.png"
                  class="small-logo"
                  alt="Logo 1"
                />
              </a>
              <a href="https://www.notion.com/" target="_blank">
                <img
                  src="../Assets/Images/notion_logo.png"
                  class="small-logo"
                  alt="Logo 2"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="images-container">
          <img
            src="../Assets/Images/veille_technologique.png"
            class="hero-image"
            alt="Veille Technologique"
          />
        </div>

        <br />

        <div class="gallery-wrapper">
          <div class="row g-4">
            <div class="col-md-6 col-sm-12">
              <img
                src="../Assets/Images/core_ware.png"
                class="gallery-image rounded shadow"
                alt="Core Ware"
              />
            </div>
            <div class="col-md-6 col-sm-12">
              <img
                src="../Assets/Images/chatbot_IA.png"
                class="gallery-image rounded shadow"
                alt="Chatbot IA"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bouton Notion -->
    <div class="position-fixed bottom-0 start-50 translate-middle-x mb-3">
      <a
        href="https://www.notion.so/Veille-technologique-2c01f73bb89a80708dc5ea5931427e1b"
        class="btn btn-primary btn-lg"
        >Lien Portfolio Notion</a
      >
    </div>

    <footer class="footer" id="footer">
      <div class="inner">
        <div class="column is-logo">
          <div>
            <div class="footer_text">GUITOU Jérémy</div>
            <span class="copyright">© 2025. All rights reserved.</span>
          </div>
        </div>
        <div class="column is-nav">
          <div class="column-title">Navigation</div>
          <ul>
            <li><a href="../main.html" class="footer_a">Accueil</a></li>
            <li><a href="about.html" class="footer_a">Mon entreprise</a></li>
            <li>
              <a href="veille_technologique.html" class="footer_a">Ma veille</a>
            </li>
          </ul>
        </div>
        <div class="column is-nav">
          <div class="column-title">Contact</div>
          <ul>
            <li>
              <a href="mailto:jguitou35@gmail.com" class="footer_a"
                ><i class="fa fa-envelope-open"></i> jguitou35@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <div class="column is-nav">
          <div class="column-title">Informations</div>
          <ul>
            <li>
              <a href="mentions_legales" class="footer_a">Mentions Légales</a>
            </li>
            <li><a href="#" class="footer_a">Conditions d'utilisation</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
